.sp-thongbao {
  color: red;
  margin-left: 2px;
  display: none;
}

#SapXepGiam {
  display: none;
}

#content {
  width: 100%;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myCardHeader,
.myCardFooter {
  background-color: transparent;
}

.table thead th,
.table td {
  vertical-align: middle;
}

.ui-datepicker .ui-datepicker-next {
  background: url(../img/arrow-icon-next.png) center no-repeat;
  background-size: 30px;
  right: 5px;
}
.ui-datepicker .ui-datepicker-prev {
  background: url(../img/arrow-icon-previous.png) center no-repeat;
  background-size: 30px;
  left: 5px;
}

#btnCapNhat {
  display: none;
}
